<?php header("Content-Type: text/css"); ?>
/*Menu section*/
.miniIcon {height: 35px; margin-top:-10px;}
#bar {
	position:			relative;
	display: 			block;
	height:				45px;
	padding-top:		25px;
}
#bar ul{
	position:			absolute;
	color: 				#FFFFFF;
	margin:				0px;
	padding-top:		10px;
	padding-bottom:		5px;
	padding-left:		10px;
}
#bar li{
	display:			block;
	float:				left;
	padding-left: 		5px;
	padding-right: 		5px;
}
#bar ul a{
	color:				#aefa0d;
	text-decoration:	none;
	font-family: 		Arial, Helvetica, sans-serif;
	font-size: 			14px;
	font-weight: 		900;
	text-transform: 	capitalize;
}
#bar ul a:hover{
	color:				#97b15e;
}

/*copy from above, left side instead. */
#ubar {
	position:			relative;
	display: 			block;
}
#ubar ul{
	position:			relative;
	margin:				0px;
	padding-top:		10px;
	padding-bottom:		5px;
	padding-right:		10px;
	color:				#aefa0d;
	text-decoration:	none;
	font-family: 		Arial, Helvetica, sans-serif;
	font-size: 			14px;
	font-weight: 		900;
	text-transform: 	capitalize;
	vertical-align:		center;
}
#ubar li{
	display:			block;
	float:				right;
	padding-left: 		5px;
	padding-right: 		5px;
	background:			rgba(0,0,0,0.3);
}
#ubar ul a:hover{
	color:				#97b15e;
}
/*Again, but this time for the 2nd bar.*/
#Nbar {
	position:			relative;
	display: 			block;
	background: 		rgba(0,0,0, 0.7);
	height:				25px;
}
#Nbar ul{
	position:			absolute;
	color: 				#FFFFFF;
	margin:				0px;
	padding-bottom:		5px;
	padding-left:		10px;
}
#Nbar li{
	display:			block;
	float:				left;
	padding-left: 		5px;
	padding-right: 		5px;
}
#Nbar ul a{
	color:				#aefa0d;
	text-decoration:	none;
	font-family: 		Arial, Helvetica, sans-serif;
	font-size: 			14px;
	font-weight: 		900;
	text-transform: 	capitalize;
}
#Nbar ul a:hover{
	color:				#97b15e;
}	