body {
	background: 		#008800;
	background: 		-webkit-gradient(linear, left top, left bottom, from(#008000), to(#000000));
	background: 		-moz-linear-gradient(top, #008000, #000000);
	height: 			100%;
	margin: 			0px;
	padding:			0px;
	background-repeat: 	no-repeat;
	color: 				white;
	text-align: 		center;
}
.centerpic {
	right: 				auto;
	left: 				auto;
	display:			block;
	margin-left:		auto;
	margin-right: 		auto;
	text-align:			center;
	padding-top:		20px;
}
#page {
	margin-bottom: 		50px;
	position:			relative;
	padding-top:		20px;
}
div.content {
	color: 				#FFFFFF;
	background: 		rgba(0,0,0, 0.7);
	width: 				80%;
	margin-left: 		auto;
	margin-right: 		auto;
	padding-bottom: 	10px;
	padding-top: 		10px;
	-moz-box-shadow:    -3px -10px 50px 5px green;
	-webkit-box-shadow: -3px -10px 50px 5px green;
	box-shadow:         -3px -10px 50px 10px green;
}
#footer {
	float: 				right;
	background: 		rgba(0,0,0, 0.5);
	font-style: 		italic;
	text-align: 		right;
	width: 				auto;
	padding-top: 		10px;
	padding-bottom: 	10px;
	padding-left: 		20px;
	padding-right: 		10px;
	margin-top: 		100px;
	margin-bottom: 		20px;
}
#blog {
	text-align:			left;
	margin-top:			70px;
	padding-left: 		10px;
	padding-right: 		10px;
}
dt {
	font-weight: 		bold;
}

/*Menu section*/
#bar {
	position:			relative;
	display: 			block;
	z-index:			2;
}
#bar ul{
	position:absolute;
	color: 				#FFFFFF;
	background: 		rgba(0,0,0, 0.7);
	width:				100%;
	margin:				0px;
	padding-top:		10px;
	padding-bottom:		5px;
}
#bar li{
	display:			block;
	float:				left;
	padding-left: 		5px;
	padding-right: 		5px;
}
#bar ul a{
	color:				#aefa0d;
	text-decoration:	none;
	font-family: 		Arial, Helvetica, sans-serif;
	font-size: 			14px;
	font-weight: 		900;
	text-transform: 	capitalize;
}
#bar ul a:hover{
	color:				#97b15e;
}
